@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 12.5px;
}

/***************************** header ********************************/
header nav {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #3f51b5;
  box-shadow: #000000b5 0px 3px 10px;
  position: fixed;
}
header nav .left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 2rem;
}
header nav .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 3rem;
}
header nav p {
  margin-top: 2rem;
  font-weight: 500;
  padding: 2rem;
  color: #ffffff;
  font-size: 1.4rem;
}
header nav .logo {
  width: 2.8rem;
  height: 2.8rem;
  padding: 3.5rem 0 0 3rem;
}
header nav .special {
  padding-left: 1rem;
  font-weight: 900;
  font-size: 1.6rem;
}
.header {
  background: url(img/Path-2.png);
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 24rem;
  margin-top: 5rem;
}
.header h1 {
  margin-top: 5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0;
  font-size: 4.5rem;
}
.header p {
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 1.5rem;
}
.header .Mask-Group-1 {
  position: absolute;
  top: 10rem;
  right: 8rem;
}
.button {
  margin-top: 1.5rem;
  width: 8rem;
  height: 3rem;
  border-radius: 0.7rem;
  border: 1px solid #ffffff;
  color: #000000;
  font-weight: 500;
  font-size: 1.2rem;
}
/* @media screen and (min-width: 425px) {
  header nav .left {
    margin-inline-start: 10px;
  }
}
@media screen and (min-width: 768px) {
  header nav {
    padding: 20px 50px;
  }
  header nav .right {
    max-width: 20rem;
  }
  header nav .right .logo {
    margin-inline-end: 10px;
    width: 40px;
    height: 40px;
  }
} */

/* @media screen and (max-width: 425px){
   header nav .left {
    margin-inline-start: 0.8rem;
   }
   #header .Mask-Group-1{
     width: 26rem;
     height: 24rem;
     opacity: 0.5;
  }
}
@media screen and (max-width: 768px) {
  header nav {
    padding: 1rem 0.5rem;
  }
  header nav .right {
    max-width: 12rem;
  }
  header nav .right .logo {
    margin-inline-end: 0.2rem;
  }
  #header .Mask-Group-1{
     width: 26rem;
     height: 24rem;
     opacity: 0.5;
  }
} */

/***************************** path 1 ********************************/
.is-box_shadow {
  margin: 3rem 9rem 0 9rem;
  box-shadow: 0 0.3rem 1rem #00000029;
  display: flex;
  flex-direction: column;
}
.is-box_shadow .path-1 {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}
.is-box_shadow .path-1 div {
  margin-left: 4.5rem;
  margin-right: 5.5rem;
}
.is-box_shadow .path-1 div p {
  line-height: 2.1rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #5747478a;
}
.is-box_shadow .path-1 div h1 {
  margin-top: 3.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #0000008a;
}
.is-box_shadow hr {
  height: 0.01rem;
  color: #70707080;
  width: 79.4vw;
}
/**************************** path 2 ********************************/
.is-box_shadow .path-2 {
  margin: 0rem 4rem 2rem 4rem;
}
.is-box_shadow .path-2 .Group {
  display: flex;
  flex-direction: row;
  margin-left: 11rem;
  text-align: center;
  color: #0000008a;
}

.is-box_shadow .title {
  font-size: 2rem;
  font-weight: 500;
  color: #0000008a;
}
.is-box_shadow .path-2 .Group p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 5rem;
}
.is-box_shadow button {
  border-radius: 50%;
  border: 1px solid #ffffff;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 7rem;
  box-shadow: 0 1px 8px 0 #000000;
}
.is-box_shadow .path-2 .img {
  width: 17.9vw;
  height: 20vh;
  padding-top: 1.7rem;
  margin-right: 5.5rem;
}
.is-box_shadow .path-2 button img {
  width: 0.7rem;
  height: 1.3rem;
}

/***************************** path 3 ********************************/
.is-box_shadow .path-3 {
  margin-left: 4rem;
  margin-right: 2rem;
}
.is-box_shadow .path-3 .group {
  display: flex;
  flex-direction: row;
  margin-left: 11rem;
  text-align: center;
}
.is-box_shadow .path-3 .group div {
  width: 24.5rem;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
}
.is-box_shadow .path-3 .group div h1 {
  height: 3.7rem;
  margin: 2.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.is-box_shadow .path-3 .group div p {
  margin: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: #0000008a;
}
.is-box_shadow .path-3 .group button {
  margin-left: 1rem;
}
.is-box_shadow .path-3 .group button img {
  width: 0.7rem;
  height: 1.3rem;
}
.is-box_shadow .path-3 hr {
  height: 0.3rem;
  background-color: #ff4081;
  width: 10rem;
}
